.parpadeo {
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@-webkit-keyframes parpadeo {
    0%   {background-color: #ffffff;}
    100%  {background-color: #337ab7; color: #ffffff;}
}

@keyframes parpadeo {
    0%   {background-color: #ffffff;}
    100%  {background-color: #337ab7; color: #ffffff;}
}

.parpadeoNext {
    -webkit-animation-name: parpadeoNext;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeoNext;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@-webkit-keyframes parpadeoNext {
    0%   {background-color: #ffffff;}
    100%  {background-color: #000000; color: #ffffff;}
}

@keyframes parpadeoNext {
    0%   {background-color: #ffffff;}
    100%  {background-color: #000000; color: #ffffff;}
}

.parpadeolargo {
    -webkit-animation-name: parpadeolargo;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeolargo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeolargo {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

@keyframes parpadeolargo {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

.parpadeomuylargo {
    -webkit-animation-name: parpadeomuylargo;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeomuylargo;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeomuylargo {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

@keyframes parpadeomuylargo {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

.parpadeomuycorto {
    -webkit-animation-name: parpadeomuycorto;
    -webkit-animation-duration: 0.125s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse; 
    animation-name: parpadeomuycorto;
    animation-duration: 0.125s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeomuycorto {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

@keyframes parpadeomuycorto {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

.parpadeocorto {
    -webkit-animation-name: parpadeocorto;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeocorto;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeocorto {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

@keyframes parpadeocorto {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #b3d9ff}
}

.parpadeo2 {
    -webkit-animation-name: parpadeo2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse;
    animation-name: parpadeo2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeo2 {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #6CFF67}
}

@keyframes parpadeo2 {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #6CFF67}
}

.parpadeolargo2 {
    -webkit-animation-name: parpadeolargo2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: reverse; 
    animation-name: parpadeolargo2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: reverse;    
}

@-webkit-keyframes parpadeolargo2 {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #F3FF67}
}

@keyframes parpadeolargo2 {
    0%   {background-color: #f2f2f2}
    100%  {background-color: #F3FF67}
}

.circulo {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
}

.title-table {
    font-weight: bold;
    background-color: #DEDFE0;
}

.title-table2 {
    font-weight: bold;
    font-size: 12px;
    background-color: #DEDFE0;
}

.title-table3 {
    font-weight: bold;
    font-size: 20px;
    background-color: #DEDFE0;
}

.seleccionado {
    background-color: #b3d9ff;
}

.tableVI2>tbody>tr>td{
    font-size: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.tableVI3>tbody>tr>td{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.panel .table>tbody>tr>td:first-child, .panel .table>tbody>tr>td:last-child{
    padding-left: 8px;
}

.tableVI4>tbody>tr>td:first-child{
    width: 10%;
}

.panel .tableVI4>tbody>tr>td:last-child{
    padding-left: 0px;
}

#teoria{
    text-align: center;
}

.error{
    border-style: solid;
    border-color: #F9354C;
    border-width: 1px;
}
